/* COLOR PALETTE
BLACK #111111
RED #540000
TEAL #004749
TAN #b09b72
WHITE ededed */
/* General Styling */
:root {
  --black: #161616;
  --white: #fcfcfc;
  --grey: #b0acad;
  --orange: #f7761b;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  color: var(--white);
  border: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0 13%;
}

html {
  background: var(--black);
  height: 100%;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  font-weight: bold;
  color: var(--orange);
  text-align: center;
  font-size: 64px;
}

button:hover,
.submit-btn:hover {
  cursor: pointer;
}

button,
.submit-btn {
  height: 50px;
  font-weight: 400;
  background-color: var(--orange);
  font-size: 20px;
  border-radius: 0.25rem;
}

button:hover {
  transition: all 200ms ease;
  background-color: red;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  font-size: 20px;
}

.academy-logo {
  background-color: var(--white);
  height: 162px;
  width: 162px;
  border-radius: 5rem;
  display: flex;
}

.academy-logo-img {
  height: 80%;
  margin: auto;
}

.academy-name {
  margin: 109px auto;
  text-align: center;
  width: 80%;
  font-size: 64px;
  font-weight: 400;
}

/* HERO SECTION */
#hero {
  margin: auto 0;
}
.slogan {
  font-size: 64px;
  color: var(--white);
}

.slogan span {
  color: var(--orange);
}

#hero p {
  margin: 1rem 0;
  font-size: 2rem;
}

.start-journey-btn {
  width: 24%;
  margin-bottom: 50px;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.placeholder-img {
  background-color: var(--grey);
  height: 400px;
  width: 345px;
}

/* ABOUT */
#about {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.about-text-container {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 2rem;
  margin: auto 0;
}

#about p {
  font-size: 24px;
  letter-spacing: 0.35rem;
  text-align: left;
}

#about span {
  color: var(--orange);
  font-weight: 500;
}

.learn-more-btn {
  width: 50%;
  margin: 0 auto;
}

.about-img {
  width: 50%;
  height: 30%;
  margin: auto 0;
}

/* PROGRAM */
#program h2 {
  margin-bottom: 2rem;
}

.program-card-container {
  display: flex;
  gap: 1rem;
}

.program-card {
  height: 345px;
  width: 345px;
  background-color: #222222;
  border-radius: 1.5rem;
  padding: 2rem;
  position: relative;
}

.program-card h3 {
  font-size: 32px;
  position: absolute;
  top: -1rem;
  left: 0%;
  right: 0%;
  width: 100%;
  margin: 0 auto;
}

.program-card p {
  margin: 2rem auto;
  font-size: 20px;
}

.schedule {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
}

.hours {
  color: var(--orange);
  font-size: 24px;
  text-align: left;
  margin-bottom: 1.5rem;
}

.week {
  height: 112px;
}
.schedule ul {
  margin: auto;
}

.schedule li {
  display: flex;
  gap: 2rem;
  margin: 1.5rem 0;
  align-items: center;
  text-align: left;
  font-size: 20px;
}

.legend-box {
  height: 28px;
}

#instructors p {
  font-size: 1.5rem;
}

/* TESTIMONIAL */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30vh;
  width: 100vh;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonial-card {
  width: 255px;
  height: 155px;
  background: #222222;
  border-radius: 2rem;
  position: relative;
  display: grid;
  align-items: center;
  padding: 1rem;
  font-size: 0.75rem;
}

.slide {
  opacity: 0;
  position: absolute;
  transition: 0.5s all ease;
  transform: scale(50%);
  z-index: 0;
}

.slide[data-active],
.slide[data-next],
.slide[data-prev] {
  opacity: 1;
  z-index: 3;
  transition: .75s all ease;
}

.slide[data-active] {
  transform: scale(100%);
  z-index: 4;
  transition: 1s all ease;
}

.slide[data-next] {
  transform: translateX(115%) scale(80%);
}

.slide[data-prev] {
  transform: translateX(-115%) scale(80%);
}

.author {
  font-weight: bold;
}

.slide[data-active] .testimonial-card {
  width: 346px;
  height: 210px;
  font-size: 1rem;
}

.testimonial-btn {
  position: absolute;
  width: 2rem;
  z-index: 5;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide[data-active] .quotation-mark {
  font-family: "Saira Condensed", sans-serif;
  font-weight: bold;
  font-size: 96px;
  position: absolute;
  top: 0;
  left: 10%;
  transform: translateY(-35%);
}

.quotation-mark {
  font-family: "Saira Condensed", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 10%;
  transform: translateY(-35%);
}
/* CALL TO ACTION */
#contact h2 {
  margin-bottom: 1rem;
}
.cta {
  width: 900px;
}

.cta h2 {
  color: var(--white);
}

.cta h2 span {
  color: var(--orange);
}

.cta p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2rem;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
}

.input {
  display: block;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  width: 346px;
  height: 100%;
  border-bottom: 0.25rem solid var(--orange);
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
}

.submit-btn {
  width: 164px;
  height: 45px;
  margin: 0 20%;
}

.contact-info {
  width: 367px;
}

.contact-info li {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.contact-info li p {
  margin: auto 0;
}

.contact-icon {
  height: 62px;
}

/* footer */
footer {
  background-color: var(--orange);
  height: 68px;
  width: 150%;
  transform: translateX(-20%);
}

@media (max-width: 1200px) {
  *{
    flex-direction: column;
    align-items: center;
  }

  .academy-name{
    font-size: 3rem;
    margin: 2rem auto;
    width: auto;
  }

  .slogan {
    font-size: 2rem;
  }

  .div {
    width: auto;
    min-height: 100vh;
  }

  section {
    width: auto;
    height: auto;
    flex-direction: column;
  }

  .hours{
    text-align: center;
  }
  .placeholder-img {
    position:absolute;
  }

  .program-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-card{
    margin-bottom: 2rem;
    width: 80%;
  }
  
  .testimonial-btn{
    display: none;
  }

  .input-wrap{
    width: 200px;
  }

  .week{
    scale: 60%;
  }

  .schedule li {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1.5rem 0;
    align-items: center;
    text-align: left;
    font-size: 20px;
  }
}